/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
	}

	.secondary {
		order: -1;
	}

}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.primary {
		flex: 1.4;
	}

	.col {
		flex-basis: 0;
	}

}
